<form method="post" action="/memos/<%= params[:id] %>">
    <section class="section wrapper">
        <label for="title" class="form-label">タイトル</label>
        <input type="text" value="<%= h(@title) %>" name="title" class="form-control" id="title">
        <label for="content" class="form-label">内容</label>
        <textarea id="content" name="content" class="form-control"><%= h(@content) %></textarea>
    </section>
    <div class="align-center wrapper">
        <input type="hidden" name="_method" value="patch">
        <input type="submit" value="保存" class="button">
    </div>
</form>
