<form method="post" action="/memos">
    <section class="section wrapper">
        <label for="title" class="form-label">タイトル</label>
        <input type="text" name="title" class="form-control" id="title">
        <label for="content" class="form-label">内容</label>
        <textarea name="content" class="form-control" id="content"></textarea>
    </section>
    <div class="align-right wrapper">
        <input type="submit" value="保存" class="button">
    </div>
</form>
